*{
  font-family: 'Roboto', sans-serif;  
  padding: 0px;
  margin: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow:hidden;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  background-color:  rgba(0, 0, 0, 0.7);
}
.navbar ul{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 7px;
}
.navbar ul li{
  padding: 18px;
  list-style: none;
}
.navbar ul li a{
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 13px;
  border-radius: 14px;
}
.navbar ul li a:hover{
  background-color: red;
  color: white;
  cursor: pointer;
}
.container{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("Background\ image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 7px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-image:  radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(deals2.jpeg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    
    background-image: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(food-delivery.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
.row{
  padding-left: 6%;
  display: flex;
  height: 88%;
  align-items: center;
  
}
.col{
  flex-basis: 50%;
}

h1{
  color: #ebe9e9;
  font-size: 100px;

}
h5{
  color: white ;
  font-size: 18px;
  text-shadow: 0px 0px 2px red;

}
p{
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}
p span{
  color: red;
  cursor: pointer;
}
h1 span{
  color: red;
}
@media (min-width:0px) and (max-width: 400px) {
  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    width: 100%;
    text-align: center;
    padding:5px;
  }

  .navbar ul li a {
    font-size: 0.6rem;
  }
  .card{
    width: 110px;
    height: 110px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-image:  radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(deals2.jpeg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
  background-image: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(food-delivery.jpg);
}
h1{
  color: #ebe9e9;
  font-size: 40px;
}
}
@media (max-width: 450px) {
  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    width: 100%;
    text-align: center;
    padding:6px;
  }

  .navbar ul li a {
    font-size: 0.7rem;
  }
  .card{
    width: 140px;
    height: 140px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-image:  radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(deals2.jpeg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    
  background-image: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(food-delivery.jpg);
}
h1{
  color: #ebe9e9;
  font-size: 60px;

}

}
@media (max-width: 480px) {
  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    width: 100%;
    text-align: center;
    padding:8px;
  }

  .navbar ul li a {
    font-size: 0.7rem;
  }
  .card{
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-image:  radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(deals2.jpeg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    
  background-image: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(food-delivery.jpg);
}
h1{
  color: #ebe9e9;
  font-size: 70px;

}

}
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    width: 100%;
    text-align: center;
    padding: 9px;
  }

  .navbar ul li a {
    font-size: 0.8rem;
  }
  .card{
    width: 180px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-image:  radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(deals2.jpeg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    
  background-image: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(food-delivery.jpg);
}
h1{
  color: #ebe9e9;
  font-size: 80px;

}
}